html{
    box-sizing: border-box;
    height: 100%;
    
}
body{
    align-items: center;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, #94bbe9 100%);
    display: flex;
    height: inherit;
    justify-content: center;

}

.calculator{
    backdrop-filter: blur (5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color:#232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background:rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.display{
    backdrop-filter: blur (5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background:rgba(255, 255, 255, 0.75);
    border: 1px solid ☐ rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 400px;
    height: 75px;
}

.display .previousScreen{
    color: #6e6e6e;
    font-size: 1.5rem;
}

.display .currentScreen{
    color: black;
    font-size: 2.5rem;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

button{
    backdrop-filter: blur (5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background:rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.operator{
    backdrop-filter: blur (5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background:rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #f066a9;
}

.equal {
    background: #5ca8ff;
}
.equal:active{
    background: #6caffc;
}

button:hover{
    background-color: inherit;
}

button:active{
    background-color: #f582b9;
}

